body{
    background-color: rgb(172, 172, 172);
}
.container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.container a{
    text-decoration: none;
}
.container h1 span{
    color: rgb(109, 63, 63);
}