.nav-bar{
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #ddd;
    width: 85%;
    margin: 0 auto;
}

.details{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.details h1{
    font-family: Rockwell Extra Bold;
    font-size: 30px;
}
.details p{
    font-family: Rockwell Extra Bold;
    font-size: 20px;
}

/* sign-in */
/* general */
.gen-div{
    width: 85%;
    margin: 0 auto;
    background-color: rgb(233, 229, 229);
}
.gen-div h1{
    color: rgb(24, 24, 24);
    font-family: Rockwell Extra Bold;
}
.gen-content{
    text-align: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gen-content a{
    text-decoration: none;
    color: rgb(135, 62, 204);
}
.gen-cont-div{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.gen-cont-div i{
    padding: 0 20px;
    color: rgb(107, 103, 103);
}
.gen-cont-div h1{
    color: rgb(36, 35, 35);
    font-family: Rockwell Extra Bold;
}
@media only screen and (max-width:700px){
    .nav-bar{
        display: flex;
        text-align: center;
        align-content: center;
        align-items: center;
        background-color: #ddd;
        width: 95%;
        margin: 0 auto;
    }
    .details{
        display: block;
    }
    .details h1{
        font-family: Rockwell Extra Bold;
        font-size: 30px;
    }
    .details h3{
        font-family: Rockwell Extra Bold;
    }
    
    /* sign-in */
    
    .sign-in{
        display: flex;
        text-align: center;
        align-items: center;
        width: 95%;
        margin: 0 auto;
    }
    /* general */
    .gen-div{
        width: 95%;
        margin: 0 auto;
        background-color: rgb(233, 229, 229);
    }
    .gen-content{
        text-align: center;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .gen-cont-div{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    .gen-cont-div i{
        padding: 0 13px;
        color: rgb(107, 103, 103);
    }
}
