body{
    margin: 0;
    padding: 0;
    background-color: rgb(178, 238, 218);
    position: relative;
    font-family: sans-serif;
    width: 100%;
}
header{
    width: 100vw;
    justify-content: center;
    text-align: center;
    line-height: 12px;
    margin-top: 50px;
}
header h1{
    text-transform: uppercase;
    color: forestgreen
}
.underline{
    height: 2px;
    background-color: forestgreen;
    width: 80px;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 5% auto;
}
.container h3{
    font-size: 35px;
    color: rgb(65, 63, 63);
}
.container span{
    color: forestgreen;
}
.container .button button{
    padding: 10px 0;
    width: 200px;
    background-color: forestgreen;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
}
.countdown{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}
.count-div{
    display: flex;
}
.count-div > div{
    margin-left: 12px;
    background-color: #000;
    color: #fff;
    width: 100px;
    height: 100px;
}
.success{
    display: flex;
}
.success span{
    -webkit-text-stroke: 3px rgb(61, 146, 61);
    font-size: 50px;
    letter-spacing: 8px;
    color: transparent;
    animation: trans  1s infinite;
    animation-delay: calc(0.09s * var(--i));
}
@keyframes trans {
    0%, 40%, 100%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-30px);
    }
    
}
.links{
    display: flex;
    gap: 2rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    line-height: 5px;
}
.paragraph{
    text-align: center;
    margin-top: 25px;
    line-height: 5px;
}
.links i{
    /*margin-left: 35px;*/
    font-size: 25px;
}
.links .twitter{
    color: rgb(8, 140, 184);
}
.links .whatsapp{
    color: green;
}
.links .phone{
    color: green;
}
.web-loader{
    position: fixed;
    top: 30%;
    bottom: 0;
    left: 38%;
    justify-content: center;
    display: grid;
    visibility: visible;
    z-index: 999;
    transition: 1s;
}
.hidden-web-loader{
    visibility: hidden;
    z-index: -999;
}



@media only screen and (max-width:700px){
    .container{
        display: flex;
        gap: 50px;
        flex-direction: column;
        margin: 5% auto;
    }
    .container h3{
        font-size: 25px;
    }
    .container .button button{
        width: 150px;
        font-size: 13px;
    }
    .success span{
        font-size: 40px;
    }
    .countdown{
        margin-top: 8%;
    }
    .countdown h1{
        font-size: 25px;
    }
    .count-div > div{
        width: 70px;
        height: 85px;
    }
    .count-div h3{
        font-size: 18px;
    }
    .count-div h4{
        font-size: 15px;
    }
    .success{
        margin-top: 0;
    }
    .links{
        margin-top: 40px;
    }
    .links i{
        /*margin-left: 23px;*/
        font-size: 20px;
    }
    .paragraph{
        margin-top: 40px;
    }
}